.example-card{
  margin: 0 auto;
  width: 600px;
}
.form-container{
  display: flex;
  flex-direction: column;
}
.footer {
  background-color: #2e2828;
  color: white;
  padding: 5px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000;
}

.footer-section {
  flex: 1 1 120px;
  margin: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-section h4 {
  font-size: 12px;
  margin-bottom: 6px;
  text-transform: uppercase;
  border-bottom: 1px solid #ffffff;
  display: inline-block;
  padding-bottom: 3px;
}

.footer-section p {
  margin: 3px 0;
  font-size: 11px;
  line-height: 1.4;
  cursor: pointer;
}

.footer-section p:hover {
  text-decoration: underline;
}

.social-links {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.social-links a {
  color: black;
  font-size: 18px;
  transition: color 0.3s ease;
}

.social-links a:hover {
  color: #ffd700;
}

.footer-bottom {
  width: 100%;
  text-align: center;
  margin-top: 10px;
  font-size: 12px;
  border-top: 1px solid black;
  padding-top: 5px;
  color: #dddddd;
}

.footer-bottom p {
  margin: 0;
}
