.report-container {
  max-width: 900px;
  margin: 20px auto;
  text-align: center;
}

.filters {
  margin-bottom: 20px;
}

.filters input {
  margin: 5px;
  padding: 5px;
}

.filters button {
  margin: 5px;
}

ngx-charts-bar-vertical {
  display: block;
  margin: auto;
}
