<div class="energia-section">
  <div class="energia-image">
    <img src="assets/focorenobable.jpg" alt="foco" class="overlay-img" />
  </div>

  <div class="energia-content">
    <p class="highlight">Controla, ahorra y optimiza tu energía</p>
    <h1>
      Donde la <span class="text-orange">energía</span> y las personas se conectan
    </h1>
    <p class="description">
      EcoWatt empodera a hogares y pequeñas empresas para monitorear, entender y
      optimizar su consumo energético inteligentemente.
    </p>

    <div class="benefits">
      <div class="benefit-item">
        <mat-icon color="primary">bolt</mat-icon>
        <div>
          <h4>Ahorra con conciencia</h4>
          <p>
            Visualiza tu consumo en tiempo real, recibe alertas automáticas para reducir tu gasto energético.
          </p>
        </div>
      </div>

      <div class="benefit-item">
        <mat-icon color="primary">devices</mat-icon>
        <div>
          <h4>Conexión directa con tus dispositivos</h4>
          <p>
            Conecta fácilmente tus electrodomésticos y equipos inteligentes para tomar decisiones.
          </p>
        </div>
      </div>

      <div class="benefit-item">
        <mat-icon color="primary">psychology</mat-icon>
        <div>
          <h4>Inteligencia Artificial que predice y te asesora</h4>
          <p>
            Nuestra IA analiza tus hábitos de consumo y predice el gasto energético del día, brindándote consejos personalizados.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <section class="intro">
    <p>
      En <strong>EcoChispa</strong>, creemos que cada hogar y negocio tiene el poder de
      hacer una diferencia real en el uso responsable de la energía.
    </p>

    <mat-card class="card mission">
      <mat-card-title>Misión</mat-card-title>
      <mat-card-content>
        Facilitar el ahorro energético en los hogares y establecimientos mediante
        tecnología inteligente, promoviendo una cultura de consumo consciente y sostenible.
      </mat-card-content>
    </mat-card>

    <mat-card class="card vision">
      <mat-card-title>Visión</mat-card-title>
      <mat-card-content>
        Ser la plataforma líder en gestión doméstica del consumo energético, combinando IoT, IA
        y diseño centrado en el usuario para contribuir activamente a la eficiencia energética.
      </mat-card-content>
    </mat-card>
    <div class="contenedor-doble">
      <div class="contenedor-foco">
        <img src="assets/foto-foco.PNG" alt="Logo Foco" class="foco-img" />
      </div>
      <div class="contenedor-fotofront">
        <img src="assets/fotofront.PNG" alt="Logo Front" class="fotofront-img" />
      </div>
      <div class="container-energiamarca"><img src="assets/energiamarca.jpg" alt="energia" class="energiamarcas-img" /></div>
    </div>
  </section>
  <div class="container-marcas"><img src="assets/marcas.PNG" alt="Marcas" class="marcas-img" /></div>


    <section class="values">
    <h2>Valores</h2>
    <div class="values-grid">
      <mat-card class="value-card">
        <mat-card-title>      Responsabilidad ⚙️</mat-card-title>
        <mat-card-content>
          Asumimos el compromiso de actuar de forma ética, transparente y consciente con el medio ambiente y la sociedad.
        </mat-card-content>
      </mat-card>

      <mat-card class="value-card">
        <mat-card-title>Eficiencia Energética⚡</mat-card-title>
        <mat-card-content>
          Impulsamos el uso inteligente de la energía para reducir el desperdicio y optimizar
          recursos en hogares y negocios.
        </mat-card-content>
      </mat-card>

      <mat-card class="value-card">
        <mat-card-title>Sostenibilidad♻️</mat-card-title>
        <mat-card-content>
          Cada función de nuestra plataforma está pensada para reducir el impacto ambiental
          y fomentar prácticas responsables con el planeta.
        </mat-card-content>
      </mat-card>

      <mat-card class="value-card">
        <mat-card-title>Transparencia de la información📘</mat-card-title>
        <mat-card-content>
          Brindamos datos claros, precisos y en tiempo real para que cada usuario tome
          decisiones informadas sobre su consumo.
        </mat-card-content>
      </mat-card>

      <mat-card class="value-card">
        <mat-card-title>Innovación 💡</mat-card-title>
        <mat-card-content>
          Impulsamos soluciones tecnológicas que optimizan el consumo energético y fomentan la eficiencia en cada hogar y empresa.
        </mat-card-content>
      </mat-card>
    </div>
  </section>

  <section class="testimonials">
    <h2>Testimonios</h2>
    <p>
      Descubre cómo <strong>EcoWatt</strong> está ayudando a personas y empresas a ahorrar
      energía, reducir costos y cuidar el planeta.
    </p>

    <div class="testimonial-grid">

      <mat-card class="testimonial-card">
        <mat-card-title>Fernando Alarcón</mat-card-title>
        <mat-card-subtitle>Chiclayo, Perú</mat-card-subtitle>
        <mat-card-content>
          “Gracias al monitoreo en tiempo real de EcoWatt, optimizamos el uso de la energía en nuestra planta. ¡Redujimos el consumo en un 25% en solo tres meses!”
        </mat-card-content>
      </mat-card>

      <mat-card class="testimonial-card">
        <mat-card-title>Camila Rojas</mat-card-title>
        <mat-card-subtitle>Huancayo, Perú</mat-card-subtitle>
        <mat-card-content>
          “Además de ahorrar, me encanta que EcoWatt promueva la sostenibilidad. Me siento parte de un movimiento que realmente cuida el medio ambiente.”
        </mat-card-content>
      </mat-card>

      <mat-card class="testimonial-card">
        <mat-card-title>Carlos Ramírez</mat-card-title>
        <mat-card-subtitle>Lima, Perú</mat-card-subtitle>
        <mat-card-content>
          “Gracias a los informes por sucursal, detectamos qué áreas estaban consumiendo más
          electricidad sin razón. ¡Hemos optimizado nuestros procesos y bajado costos operativos!”
        </mat-card-content>
      </mat-card>

      <mat-card class="testimonial-card">
        <mat-card-title>Andrea Mendoza</mat-card-title>
        <mat-card-subtitle>Lima, Perú</mat-card-subtitle>
        <mat-card-content>
          “Antes no me daba cuenta de cuánta energía consumía. Ahora, con las recomendaciones
          de EcoWatt, he reducido mi consumo mensual en un 20%.”
        </mat-card-content>
      </mat-card>

      <mat-card class="testimonial-card">
        <mat-card-title>Andres Vela</mat-card-title>
        <mat-card-subtitle>Lima, Perú</mat-card-subtitle>
        <mat-card-content>
          “Lo que más me gusta es que se integra con mis sistemas inteligentes. Puedo automatizar
          luces, aire acondicionado y ver todos desde un solo lugar con la ayuda de su IA.”
        </mat-card-content>
      </mat-card>
    </div>
  </section>
</div>

<div class="contact-container">
  <div class="contact-card">
    <div class="contact-item">
      <mat-icon>mail</mat-icon>
      <span>ecowatt&#64;gmail.com</span>
    </div>

    <div class="contact-item">
      <mat-icon>call</mat-icon>
      <span>(01) 7642052</span>
    </div>

    <div class="contact-item">
      <mat-icon>smartphone</mat-icon>
      <span>+51 942 313 121</span>
    </div>
  </div>
  <div class="contenedor-negro">
    <img src="assets/negro.avif" alt="negro" class="negro-img" />
  </div>
</div>





<footer class="footer">
  <div class="footer-section">
    <h4>ACERCA DE</h4>
    <p>ECOWATT</p>
    <p>Condiciones del servicio</p>
    <p>Términos y Políticas</p>
  </div>
  <div class="footer-section">
    <h4>MI CUENTA</h4>
    <p>Cuenta</p>
    <p>¿Eres Administrador?</p>
  </div>
  <div class="footer-section">
    <h4>AYUDA</h4>
    <p>¿Cómo usar el servicio?</p>
  </div>
  <div class="footer-section">
    <h4>DESCUBRE</h4>
    <div class="social-links">
      <a href="#"><i class="fab fa-facebook-f"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
    </div>
  </div>
  <div class="footer-bottom">
    <p>© 2025 ECOWATT</p>
  </div>
</footer>
