.report-container {
  max-width: 900px;
  margin: 20px auto;
  text-align: center;
}

.buttons {
  margin-bottom: 15px;
}

button {
  margin: 5px;
  padding: 5px 10px;
}

ngx-charts-bar-vertical {
  display: block;
  margin: 20px auto;
}
